*.obj
*.exp
*.ilk
*.manifest
*.pdb
*.res
*.Release
*.Debug
*.moc
moc_*.cpp
qrc_*.cpp
*.rc
ui_*.h
Makefile
*.exe
*.lib
*.dll
*.tmp
*.user
.directory
*.o
*.so
*.a
*.1
*.0
*.pdf
*.ini
*.autosave
adcSetting.bin

